nova/.config/qutebrowser_work/data/
nova/.config/qutebrowser_work/cache/
nova/.config/qutebrowser_work/runtime/
nova/.config/ranger/plugins/__pycache__/
nova/.config/ranger/plugins/ranger-archives/
.aider*
temp/
docs/
docs/*
.superpowers/

# Backup files
*.bak
*.backup*
*.back[0-9]*
