// ───────────────────────────────────────────────────────────────────────────────────────────
// ENVIRONMENT VARIABLES
// ───────────────────────────────────────────────────────────────────────────────────────────
environment {
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "xdgdesktopportal"
    WLR_HEADLESS_OUTPUTS "1"
}
