window#osd {
  border-radius: 10px;
  border: none;
  background: alpha(@theme_bg_color, 1.0); }
  window#osd #container {
    margin: 10px; }
  window#osd image,
  window#osd label {
    color: @theme_fg_color;
    font-size: 13px;
  }
  window#osd progressbar:disabled,
  window#osd image{
    /* opacity: 0.5; */
  }
  window#osd progressbar {
    min-height: 4px;
    border-radius: 10px;
    background: transparent;
    border: none; }
  window#osd trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(@theme_fg_color, 0.5); }
  window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @theme_fg_color; }
